body {
    background-color: #A6979C;
    font-family: Helvetica, Arial,sans-serif;
}
#container {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: red;
}
#header {
    background-color: #66CCFF;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

h1{
    margin-left:auto;
}

#content{
    padding:10px;
}

h3 {
    font-size:20px;
    text-align:center;
}
h4 {
    font-size: 20px;
    text-align: center;
}
h5 {
    font-size: 20px;
    text-align: center;
}
h6 {
    font-size: 20px;
    text-align: center;
}
h7 {
    font-size: 20px;
    text-align: center;
}
h10 {
    font-size: 20px;
    text-align: center;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}

.nav_link{
    list-style:none;
}
.nav_link li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a {
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
    color: #0088a9;
}