body {
    background-color: #A6979C;
    font-family: Helvetica, Arial,sans-serif;
}

a {
    text-decoration: none;
    color: red;
}

#container {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #66CCFF;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

#main {
    width: 600px;
    float: right;
    padding: 10px;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}

h1{
    margin-left:auto;
}

h3{
    text-align:center;
    font-size:20px;
}

#main {
    width: 600px;
    float: left;
}

#img{
    text-align:left;
    width: 600px;
}

#skill {
    width: 600px;
    float: left;
}

h4{
    text-align:center;
    font-size:20px;
}

.nav_link {
    list-style: none;
}

.nav_link li{
    display:inline-block;
    padding:0px 20px;
}

.nav_link li a{
    transition: all 0.3s ease 0s;

}

.nav_link li a :hover{
    color:#0088a9;
}